/* main {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap-reverse;
  position: absolute;
  margin: auto;
  background-color: green;
  color: rgba(125, 200, 100, 0.5); */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
}
body {
  font-family: serif;
}
#intro {position: absolute;
}
* {
   background-color: grey;
 }
 nav {
   margin: 1px auto;
   margin-right: 0;
 }
h1 {
  color: white;
  text-align: center;
}
p {
  font-family: inherit;
}
#About me {
  overflow: scroll;
}
