body {
  font-family: fantasy;
}
* {
   background-color: #e0e0e0;
 }

h1 {
  color: white;
  text-align: center;
}
p {
  font-family: inherit;
}
#About me {
  overflow: scroll;
}
correct {
float : right;
}
main {
  display: flex;
  color: blue;
  border: 2px solid black;
  margin: auto;
}
#profile {
  float:left;
}
nav ul li {
  display: inline-block;
}
nav ul {
  text-align: right;
}
#Home {
  padding: 150px;
}
p {
  padding: 2px;
  font-size:18px
  font-family:sans-serif;
  font-style: normal;
}
